@media (max-width:430px){
    :root {
        --gris_claro:#cdcdcd;
    }
    .contenedor_menu ul{
    display: flex;
    flex-direction:column ;
    flex-wrap: nowrap;
    }
    
    .contenedor_menu ul li a{
        color: black;
        text-decoration: none;
       /* border: 1px green solid;*/
        
    }
    .linea_gris_vertical{
        display: none;
    }
    .linea_gris_horizontal{
        background-color:var(--gris_claro);
        width: 300px;
        height: 2px;
    }
    .contenedor_menu{
        justify-content: flex-start;
        display: flex;
        align-items: center;
    }
    .texto{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        width: 500px;
        height: 150px;
        display: flex;
        align-items: center;
        /*border: 1px red solid;*/
        display: flex;
        justify-content: center;
        background-color:rgba(255, 255, 255, 0.5) ;
    }
    .barra_negra{
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: black;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .barra_inf{
        
        width: 100%;
        height: 100px;
        /*border: 1px orange solid;*/
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    .contenedor_redes i{
        font-size: 30px;
        padding-bottom: 15px;
    }
    .barra_gris{
        width: 100%;
        height: 5px;
        background-color:var(--gris_claro);
        margin: auto;
    }
    .barra_blanca{
        width: 100%;
        height: 10px;
        background-color:white;
        margin: auto;
    }
    .barra_negra2{
        width: 100%;
    }
    
    .seccion_contenido{
        display: flex;
        flex-direction: column;
    }
}
